{
    "project_id": "infra-31337pwn4g3",
    "source_image_family": "ubuntu-1604-lts",
    "image_description": "JUST FOR TEH LULZ",
    "machine_type": "f1-micro",
    "disk_size": "10",
    "disk_type": "pd-ssd",
    "network": "default",
    "tags": "puma-server"
}
